/* WRAPPER */
@media screen and (max-width: 991px) {
    .big_wrapper {
        padding: 0;
    }
    .wrapper {
        width: 100%;
        height: 100%;
    }
}

/* MENU */
@media screen and (max-width: 991px) {
    .menu {
        width: 90px;
        min-width: 1px;
    }
}

@media screen and (max-width: 539px) {
    .menu {
        display: none;
    }
}

/* MENU HEADER */
@media screen and (max-width: 991px) {
    .menu_header {
        justify-content: center;
    }
    .menu_menu {
        display: none;
    }
}

/* NOTIFY */
@media screen and (max-width: 991px) {
    .menu_notify{
        display: none;
    }
}

/* SEARCH */
@media screen and (max-width: 991px) {
    .menu_search{
        display: none;
    }
}

/* MENU LIST */
@media screen and (max-width: 991px) {
    .list_users_info, .list_users_time {
        display: none;
    }
    .menu_list_element {
        justify-content: center;
    }
    .menu_list_users {
        height: calc(100% - var(--default_height));
    }
}


/* CHAT */
@media screen and (max-width: 991px) {
    .chat {
        width: calc(100% - 90px);
    }
    .right_message, .left_message {
        max-width: 70%;
    }
    .chat_main {
        padding: 2.5rem;
    }
}

@media screen and (max-width: 539px) {
    .chat {
        width: 100%;
    }
}

/* CHAT MAIN*/
@media screen and (max-width: 991px) {
    .right_message, .left_message {
        max-width: 70%;
    }
    .chat_main {
        padding: 2.5rem;
    }
}

@media screen and (max-width: 539px) {
    .right_message, .left_message {
        max-width: 80%;
    }
    .chat_main {
        padding: 1.5rem;
    }
}

/* FOOTER */
@media screen and (max-width: 539px) {
    .chat_footer{
        justify-content: space-around;
        padding: .7rem 0;
    }
    .chat_footer i {
        display: none;
    }

    .footer_input {
        width: 90%;
    }
}