/* DEBUG */
/* .wrapper * {    
    border: 1px solid black;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
}

img {
    max-width: 100%;
    max-height: 100%;
}

:root {
    --background_body_pt1: rgb(0, 150, 136);
    --background_body_pt2: rgb(219, 219, 211);
    --background_header: rgb(234, 234, 234);
    --background_notify: rgb(142, 218, 252);
    --background_list_users: white;
    --default_height: 4rem;
    --padding_card: 1rem;
    --number_of_card: 7;
    --grey: rgb(177, 177, 177);
}

/* COMMON */
body{
    background: linear-gradient(to bottom, var(--background_body_pt1) 0%, var(--background_body_pt1) 16%, var(--background_body_pt2) 16%, var(--background_body_pt2) 100%);
  }

.big_wrapper {
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    overflow: hidden;
}

a {
    color: inherit;
}

.flex {
    display: flex;
}

.wrapper {
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.menu {
    width: calc(100% / 3);
    height: 100%;
    /* DEBUG */
    background-color: blueviolet;
}

.chat {
    width: calc(100% - (100% / 3));
    height: 100%;
    position: relative;
    /* DEBUG */
    background-color: blue;
}

.chat_header, .menu_header, .chat_footer {
    width: 100%;
    padding: 0 var(--padding_card);
    height: var(--default_height);
    z-index: 999;
    background-color: var(--background_header);
}

/* MENU */

/* HEADER */
.menu_header {    
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.menu_user_img {
    max-width: 53px;
    border-radius: 50%;
    object-fit: cover;
}

.menu_menu {
    font-size: 1.3rem;
    gap: 1rem;
    color: var(--grey);
}

/* MENU NOTIFY*/
.menu_notify {
    padding: 0 var(--padding_card);
    width: 100%;
    height: var(--default_height);
    background-color: var(--background_notify);
    display: flex;
    align-content: center;
    align-items: center;
    gap: 1rem;
}

.bell_border {
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    padding: .7rem;
    color: var(--background_notify);
    font-size: 1.2rem;
}

.menu_notify > div > span {
    display: inline-block;
    font-weight: bold;
}

.menu_notify a {
    color: gray;
    text-decoration: underline;
}


/* MENU SEARCH*/
.menu_search {
    width: 100%;
    height: calc(var(--default_height) / 2);
    background-color: var(--background_header);
}

/* MENU LIST*/
.menu_list_users {
    overflow-y: auto;
    list-style: none;
    width: 100%;
    height: calc(100% - ((2 * var(--default_height)) + (var(--default_height) / 2)));
    /* DEBUG */
    background-color: yellow;
}

.menu_list_users > li {
    padding: .5rem;
    height: 85px;
}

.menu_list_element {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    background-color: var(--background_list_users);
}

.menu_list_element:hover {
    background-color: rgb(206, 204, 204);
}

.list_users_img {
    max-width: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.list_users_info {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.list_users_time {
    position: absolute;
    top: 1rem;
    right: .5rem;
}

.list_users_info span, .list_users_time {
    color: grey;
}

.list_users_info .name {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}


/* CHAT */

/* CHAT_HEADER */
.chat_header {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid var(--grey);
}

.chat_user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.chat_users_info {
    color: darkgrey;
    display: flex;
    flex-direction: column;
}

.chat_menu {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
    color: var(--grey);
    font-size: 1.3rem;
}

.chat_user_img {
    max-width: 53px;
    border-radius: 50%;
    object-fit: cover;
}

.chat_name {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}



/* CHAT_MAIN */
.chat_main {
    width: 100%;
    height: calc(100% - var(--default_height));
    padding: 4rem;
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
    overflow-y:auto;
}

.message {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.message i {
    color: var(--grey);
}

.right_message, .left_message {
    max-width: 60%;
    padding: var(--padding_card);
    padding-bottom: 1.5rem;
    display: flex;
    gap: .1rem;
    border-radius: .5rem;
    position: relative;
}

.right_message {
    align-self: flex-end;
    background-color: rgb(213, 249, 186);
}

.left_message {
    align-self: flex-start;
    background-color: white;
}

.message_time {
    color: var(--grey);
    font-size: .6rem;
    position: absolute;
    bottom: .4rem;
    right: .4rem;
}

.hide_info p:first-child {
    margin-bottom: .5rem;
}

.hide_info {
    display: none;
    text-align: center;
    padding: .5rem;
    background-color: white;
    position: absolute;
    top: 2rem;
    right: 1rem;
    box-shadow: -1px 0px 8px -1px #000000;
}

.hover_icon:hover .hide_info {
    display: block;
    z-index: 998;
}


/* CHAT_FOOTER */
.chat_footer {
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: .5rem calc(2 * var(--padding_card));
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.5rem;
    border-left: 1px solid var(--grey);
}

.chat_footer i {
    color: rgb(105, 105, 105);
}

.footer_input {
    width: 85%;
    height: 90%;
    background-color: white;
    border-radius: .5rem;
}
   
input {
    width: 100%;
    padding: 0.3 0.5;
    border-radius: .5rem;
    height: 100%;
    color: black;
    border: none;
    padding: 0 1rem;
}